<div class="container">
  <span class="h3">Main Slides</span>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>image</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @data.each_with_index do |item, idx| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= image_tag(item.avatar.url, style: "height:300px") %></td>
        <td><a href="<%= edit_admin_img_path(item) %>" class="btn btn-default">Edit</a></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>