// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$screen-sm-min: 768px;
$screen-md-min: 992px;
$primary-highlight: #895b35;
$subprimary-highlight: #9c6e45;

@font-face {
  font-family: BodoniFLF;
  src: font-url('BodoniFLF-Bold.ttf');
}

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosansarmenian.css);

:lang(ko) body {
  font-family: 'Noto Sans KR', sans-serif;
}

:lang(en) body {
  font-family: 'Noto Sans Armenian', sans-serif;
}

:lang(ja) body {
  font-family: 'Noto Sans JP', sans-serif;
}

:lang(cn) body {
  font-family: 'Noto Sans SC', sans-serif;
}

.bodoni {
  font-family: BodoniFLF !important;
}


html {
  overflow: auto;
  min-width: 998px !important;
}


.container {
  width: 970px !important;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-right {
  margin-right: 0;
}

.carousel-text {
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  color: #fff;
  text-align: left;
  background-color: transparent;
  padding: 0;

  .intro-text {
    padding: 20px 200px;
    background-color: rgba(15,25,62,0.7);
    .intro-heading {
      margin-bottom: 15px;
      font-size: 38px;
    }
    .intro-lead-in {
      margin-bottom: 0;
      font-size: 18px;
    }
  }
}

.btn-trans {
  border: solid 2px $subprimary-highlight;
  border-radius: 0;
  font-size: 21px;
  color: #1a1311;
  background-color: transparent;
  padding: 9px 15px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;

  &:hover {
    background-color: $primary-highlight;
    border-color: transparent;
    color: #fff;
  }
}

hr.trans {
  border-color: transparent;
}

.divided-item {
  padding-left: 20px !important;
  padding-right: 20px !important;

  &:before,
  &.last:after {
    content: none;
  }
}

@media (min-width: $screen-sm-min) {
  .divided-item {
    &:before,
    &.last:after {
      position: absolute;
      content: "";
      background-color: #fff;
      top: 10px;
      bottom: 10px;
      padding: 1px;
      left: 0px;
    }

    &.last:after {
      left: initial;
      right: 0px;
    }
  }
}


.navbar-default {
  font-size: 18px;
}

.navbar-brand {
  color: #fff !important;
  padding-top: 10px;
}

.navbar-shrink {
  background-color: #fff !important;
  color: #050633 !important;
  box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.2);

  .navbar-brand {
    color: #050633 !important;
  }

  & .navbar-nav>li>a {
    color: #050633 !important;    
  }

  & .navbar-nav>.active>a,
  & .navbar-nav>li:hover>a {
    color: $subprimary-highlight !important;
    background-color: transparent !important;
  }

  .divided-item:before,
  .divided-item.last:after {
    background-color: #050633;
  }

}

.aboutus-heading {
  font-size: 84px;
  font-weight: bold;
  color: $primary-highlight;
  font-weight: 700;
  text-transform: initial;
}

.aboutus-text {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: #8d8e8e;
}

.aboutus-text2 {
  font-size: 18px;
  font-weight: 300;
  color: #8d8e8e;
}

.aboutus-btn {
  border-width: 2px;
  padding: 9px 21px;
  font-size: 30px;
  font-family: BodoniFLF;
  color: #1a1311;
}

.aboutus-more-heading {
  background-color: #050633;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 40px;

  & .left {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -2px;
    text-align: center;
    color: $primary-highlight;
    font-family: BodoniFLF;
  }
  & .right {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.1px;
    color: #8d8e8e;
  }
}

.aboutus-item-panel {
  &>div {
    width: 20%;
  }
  & .divided-item {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  & .divided-item:before,
  & .divided-item.last:after {
    background-color: $subprimary-highlight;
  }

  & .aboutus-item {
    // min-height: 300px;

    .heading {
      font-size: 20px;
      font-weight: bold;
      color: #060327;
      text-align: center;
      font-family: BodoniFLF;
      margin: 8px 0 16px;
    }
    .content {
      font-size: 14px;
      font-weight: 300;
      color: #9f9fa0;
    }
  }
}

.aboutus-more2-heading {
  padding: 0px 52px 70px;
  font-size: 21px;
  font-weight: bold;
  color: #a3a3a3;
  font-family: BodoniFLF;
}

#ref-aboutus-more2 {
  & .content-panel img {
    height: 420px;
  }
  & .content-panel .col-md-5 {
    width: 38%;
  }
  & .content-panel .col-md-7 {
    width: 62%;
  }
  & .item {
    width: 50%;
    height: 210px;
    padding: 15px;

    .icon {
      text-align: center;
      width: 50%;
      height: 100%;
      padding-top: 45px;
      i {
        font-size: 45px;
        color: $subprimary-highlight;
      }
    }
    .lb {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      font-size: 18px;
      font-family: BodoniFLF;
      color: #060327;
    }
    .text {
      width: 50%;
      height: 100%;
      font-size: 14px;
      font-weight: 300;
      color: #9f9fa0;
      overflow: hidden;
    }
  }

  & .item.first:before,
  & .item.first:after,
  & .item.last:before,
  & .item.last:after, {
    position: absolute;
    content: "";
    background-color: $subprimary-highlight;
    padding: 1px;
  }
  & .item.first:before {
    left: 100%;
    top: 7%;
    bottom: 12%;
  }
  & .item.first:after {
    left: 12%;
    right: 8%;
    bottom: 0;
  }
  & .item.last:before {
    left: 0;
    top: 12%;
    bottom: 7%;
  }
  & .item.last:after {
    left: 8%;
    right: 12%;
    top: 0;
  }
}

.thumbnail {
  border: none;
  background-color: transparent;
  text-decoration: none !important;

  & .caption {
    padding: 0 6px 0 9px;
    border-left: solid 2.7px $subprimary-highlight;

    h3 {
      margin: 10px 0 0;
      font-size: 14px;
      font-weight: bold;
      color: #060327;
    }
    p {
      // font-size: 10px;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: -0.2px;
      color: #8d8e8e;
    }
  }
}

.thumbnail.big {
  & .caption {
    padding: 0 9px 0 15px;
    border-left: solid 2.7px $subprimary-highlight;

    h3 {
      margin: 20px 0 10px;
      font-size: 24px;
    }
    p {
      font-size: 12px;
    }
  }
}

.thumbnail-caption {
  padding: 0 6px 0 14px;
  border-left: solid 2.7px $subprimary-highlight;
  margin-left: 5px;
  margin-bottom: 10px;
  font-family: BodoniFLF;
  font-size: 20px;
  font-weight: 700;
  color: #141b39;

  // h3 {
  //   margin: 10px 0 0;
  //   font-weight: bold;
  //   color: #060327;
  // }
  // p {
  //   font-size: 14px;
  //   font-weight: 300;
  //   letter-spacing: -0.2px;
  //   color: #8d8e8e;
  // }
}


.thumbnail-details {
  word-break: break-word;
  padding: 0 6px 0 9px;
  // border-left: solid 2.7px $subprimary-highlight;
  margin-left: 11px;
  font-weight: 500;
  
  h3 {
    margin: 10px 0 0;
    font-weight: bold;
    color: $subprimary-highlight;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
    color: #141b39;
  }
}

.thumbnail-news {
  & .caption {
    position: relative;
    padding: 0 25px 35px 25px;
    border: solid 2.7px $subprimary-highlight;
    border-top-color: transparent;
    height: 360px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;

    h3 {
      margin: 32px 0 14px;
      font-size: 20px;
      font-family: BodoniFLF;
      font-weight: bold;
      text-align: left;
      color: #060327;
    }
    p {
      font-size: 14px;
      font-weight: normal;
      line-height: 1.5;
      color: #9f9fa0;
    }
    .clip {
      position: absolute;
      height: 32px;
      width: 100%;
      left: 0;
      bottom: 0;
      background-color: #f7f7f7;
      margin: 0;
    }
  }
  img {
    margin-left: 0 !important;
  }

  &.expanded .caption {
    max-height: initial;
    border-top-color: $subprimary-highlight;
    height: initial;
  }
  &.expanded .clip {
    display: none;
  }
  
}

.has-transition {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.recruit {
  font-size: 30px;
  font-weight: bold;
  font-family: BodoniFLF;
  color: #895b35;
}

.recruit-text {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.2px;
  color: #8d8e8e;
  line-height: 1.6;
}

.location-label {
  font-size: 20px;
  font-weight: bold;
  font-family: BodoniFLF;
  color: #060327;
  text-align: right;
}

.location-text {
  font-size: 16px;
  font-weight: 500;
  color: #8d8e8e;
}

footer {
  padding: 42px 0 !important;
  text-align: center;
  background-color: #050633;
  color: #fefefe;
  font-weight: 300;
  font-size: 12px;

  .lb {
    font-weight: bold;
    font-size: 14px;
  }

  .text {

  }
}

.navbar-header {
  position: relative;
}

// .navbar-brand:after {
//   content: "제이앤파트너스 법률사무소";
//   position: absolute;
//   bottom: -7px;
//   left: 35px;
//   font-size: 10px;
// }

.navbar-shrink .navbar-brand:after {
  bottom: 0px;
}
.navbar-default .navbar-toggle {
  background-color: $primary-highlight !important;
  border-color: $primary-highlight !important;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
  color: $primary-highlight !important;
}
.dropdown-menu>li>a {
  color: #050633 !important;
}

.portfolio-item {
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 20%;
  min-height: 250px;
}

.portfolio-hover-content {
  font-size: 20px !important;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 500;
  line-height: 1.35;
  color: #141b39 !important;
}

.portfolio-link .expanded-name {
  font-size: 20px;
  font-weight: 500;
  color: #9c6e45;
  padding-top: 18px;
  display: none;
}

.portfolio-link.expanded .expanded-name {
  display: block;
}

.portfolio-link.expanded {
  border: 2px;
}

.flag-wrapper {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.img-flag {
  width: 1.5em;
  height: 1em;
}

.img-cycle {
  position: relative;
  img {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  img.active {
    z-index: 3;
  }
}

$a: 2;
$n: 5;
$b: 1;
$t: ($a + $b) * $n;
$k1: $a/$t*100%;
$k2: 1/$n*100%;
$k3: 100% - $b/$t*100%; 


@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  #{$k1} {
    opacity:1;
  }
  #{$k2} {
    opacity:0;
  }
  #{$k3} {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


#head-cycler {
  position:relative;
  height:95vh;
  width:100%;
  margin:0 auto;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    -webkit-animation-name: cf4FadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: #{($a+$b)*5}s;
    -moz-animation-name: cf4FadeInOut;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: #{($a+$b)*5}s;
    -o-animation-name: cf4FadeInOut;
    -o-animation-timing-function: ease-in-out;
    -o-animation-iteration-count: infinite;
    -o-animation-duration: #{($a+$b)*5}s;
    animation-name: cf4FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: #{($a+$b)*5}s;
  }
}


#head-cycler img.transparent {
  opacity:0;
}

#head-cycler img:nth-of-type(1) {
  animation-delay: #{($a+$b)*4}s;
}
#head-cycler img:nth-of-type(2) {
  animation-delay: #{($a+$b)*3}s;
}
#head-cycler img:nth-of-type(3) {
  animation-delay: #{($a+$b)*2}s;
}
#head-cycler img:nth-of-type(4) {
  animation-delay: #{$a+$b}s;
}
#head-cycler img:nth-of-type(5) {
  animation-delay: 0;
}


.op {
  opacity: 1;
  visibility: visible;
}
.op.hiddenv {
  opacity: 0;
  visibility: hidden;
}